div.window.active {
  display: block;
}

div.window {
  display: none;
}

input[type="hidden"] {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

ul#tabs {
  z-index: 900;
}

ul#tabs li:hover {
  cursor: default;
}

ul#controls {
  z-index: 904;
}

div.topic {
  z-index: 901;
}

div.autocomplete {
  z-index: 902;
}

ul#controls li.disabled {
  display: none;
}
