$font_family: "Lucida Grande", Helvetica, sans-serif;
$font_family_monospace: Monaco, monospace;
$default_text: #fff;
$nicks: #fff;
$links: #F09740;
$links_hover: #D7863A;

$message_background: #222;
$message_nick_column_background: #111;

$message_self_background: #333;
$message_self_nick_column_background: #111;

$nick_column_border: #000;
$message_border: #111;
$message_border_fold: #333;
$message_highlight: #FF4300;

$timehint_color: #666;
$nicklist_color: #666;
$nicklist_color_hover: #ccc;

$logo_color: #555;
$logo_border_dark: #333;
$logo_border_light: #999;

$textentry_border: #444;
$textentry_background: #000;
$textentry_toolbar_background: rgba(255,255,255,0.6);

$textentry_button_color: #666;
$textentry_button_active_color: #fff;
$textentry_toolbar_toggle_color: #fff;
$textentry_toolbar_toggle_active_background: rgba(255,255,255,0.6);
$textentry_toolbar_toggle_active_color: #000;
$textentry_toolbar_background: #333;
$textentry_toolbar_border: #333;

$avatar_border: #000;

$topic_background: #3a3a3a;
$topic_border_top: 1px solid #666;
$topic_border_bottom: 1px solid #333;
$topic_text: #fff;

$event_border: #111;
$event_background: #333;
$event_text: #ccc;

$tab_background: #444;
$tab_background_active: #333;
$tab_background_blurred: #333;
$tab_background_hover: #3a3a3a;
$tab_border: #222;
$tab_border_active: #222;
$tab_text: #fff;;
$tab_text_blurred: #ccc;

tr.input, div.msg {
  -webkit-font-smoothing: antialiased;
}

$scrollbar_background: #000;
$scrollbar_thumb: #444;
