$default_text: #fff;
$nicks: #fff;
$links: #efefef;

$messagelist_background: #222;
$message_border: #444;

$textentry_border: #444;
$textentry_background: #000;

$avatar_border: #444;

$topic_background: #444;
$topic_border_top: #ccc;
$topic_border_bottom: #333;

$event_border: #333;
$event_background: #d9e7fb;
$event_text: #777;

$tab_background: #444;
$tab_background_active: #333;
$tab_background_blurred: #222;
$tab_background_hover: #333;
$tab_border: #000;
$tab_border_active: #000;
$tab_border_blurred: #000;
$tab_text: #fff;;
$tab_text_blurred: #ccc;


