$font_family: "Lucida Grande", Helvetica, sans-serif;
$font_family_monospace: Monaco, monospace;
$default_text: #000;
$nicks: #000;
$links: #0033cc;
$links_hover: #00249D;

$message_background: #fff;
$message_nick_column_background: #eaeaea;

$message_self_background: #fffbd0;
$message_self_nick_column_background: #fffbd0;

$nick_column_border: #c1c1c1;
$message_border: #eee;
$message_border_fold: #ccc;
$message_highlight: #FF4300;

$timehint_color: #ccc;
$nicklist_color: #ccc;
$nicklist_color_hover: #000;

$logo_color: #999;
$logo_border_dark: #555;
$logo_border_light: #ccc;

$textentry_border: #aaa;
$textentry_background: #fff;
$textentry_toolbar_background: rgba(0,0,0,0.6);

$textentry_button_color: #999;
$textentry_button_active_color: #000;
$textentry_toolbar_toggle_color: #000;
$textentry_toolbar_toggle_active_background: rgba(0,0,0,0.6);
$textentry_toolbar_toggle_active_color: #fff;
$textentry_toolbar_background: #efefef;
$textentry_toolbar_border: #efefef;

$avatar_border: #fff;

$topic_background: #efefef;
$topic_border_top: 1px solid #fff;
$topic_border_bottom: 1px solid #aaa;
$topic_text: #222;

$event_border: #fff;
$event_background: #d9e7fb;
$event_text: #000;

$tab_background: #ddd;
$tab_background_active: #efefef;
$tab_background_blurred: #eee;
$tab_background_hover: #ccc;
$tab_border: #999;
$tab_border_active: #999;
$tab_border_blurred: #aaa;
$tab_text: #222;;
$tab_text_blurred: #777;

$scrollbar_background: #ddd;
$scrollbar_thumb: #999;
