$default_text: #000;
$nicks: #000;
$links: #0033cc;

$messagelist_background: #fff;
$message_border: #eee;

$textentry_border: #aaa;
$textentry_background: #fff;

$avatar_border: #fff;

$topic_background: #efefef;
$topic_border_top: #fff;
$topic_border_bottom: #aaa;

$event_border: #fff;
$event_background: #d9e7fb;
$event_text: #777;

$tab_background: #ddd;
$tab_background_active: #efefef;
$tab_background_blurred: #eee;
$tab_background_hover: #ccc;
$tab_border: #999;
$tab_border_active: #999;
$tab_border_blurred: #aaa;
$tab_text: #333;;
$tab_text_blurred: #777;


