[submodule "data/sprockets/prototype"]
	path = data/sprockets/prototype
	url = git://github.com/sstephenson/prototype.git
[submodule "data/sprockets/scriptaculous"]
	path = data/sprockets/scriptaculous
	url = git://github.com/madrobby/scriptaculous.git
