[submodule "src/js/prototype"]
	path = src/js/prototype
	url = git://github.com/sstephenson/prototype.git
[submodule "src/js/scriptaculous"]
	path = src/js/scriptaculous
	url = git://github.com/madrobby/scriptaculous.git
[submodule "src/js/wysihat"]
	path = src/js/wysihat
	url = http://github.com/37signals/wysihat.git
[submodule "src/js/web-socket-js/src"]
	path = src/js/web-socket-js/src
	url = https://github.com/gimite/web-socket-js.git
