body {
  font-family: "Lucida Grande", Helvetica, sans-serif;
  background: #fff;
}

a:link, a:visited, a:hover, a:active { color:#0033cc; }

a:hover {
  text-shadow: rgba( 0, 0, 0, .3 ) 0 1px 1px;
}

div.window {
  position:fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 23px;
}

div.window table {
  width: 100%;
  height: 100%;
  padding: 0;
}

tr.input td {
  height: 20px;
  background: #efefef;
  border-bottom: 1px solid #999;
}

tr.vert_dragger td {
  height: 3px;
  background: #efefef;
  border-top: 1px solid #aaa;
}

tr.input textarea {
  width: 100%;
  padding: 3px 0;
  border: none;
  margin: 0;
  outline: 0 none;
  font-size: 12px;
  overflow: hidden;
  resize: none;
  font-family: "Lucida Grande", Helvetica, sans-serif;
}

ul#tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 23px;
  width: 100%;
  font-size: 11px;
  background: #ddd;
}

ul#tabs li:first-child {
  margin-left: 3px;
}

ul#tabs li:first-child.active {
  border-left: 1px solid #999;
}

ul#tabs li {
  float: left;
  margin: 0;
  height: 14px;
  padding: 2px 10px 8px 4px;
  border: 1px solid #999;
  border-left: 1px solid transparent;
  border-bottom: none;
  border-top: none;
  color: #333;
  background: #ddd;
}

ul#tabs li.active {
  border: 1px solid #999;
  border-top: none;
  background: #efefef;
  padding-top: 3px;
  margin-top: -1px;
  height: 10px;
}

ul#tabs li.active:hover {
  background: #efefef;
}

ul#tabs li:hover {
  background: #ccc;
}

ul#tabs li.leftof_active {
  border-right: 1px solid transparent;
}

ul#controls {
  position: fixed;
  bottom: 0px;
  right: 18px;
  height: 22px;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul#controls li {
  float: right;
  margin: 0;
  padding: 0;
  height: 16px;
  width: 16px;
  padding: 3px;
  cursor: pointer;
}

ul#controls li:hover {
  background: #ccc;
}

tr.topic td {
  width: 100%;
  background: #efefef;
  font-size: 11px;
  text-align: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #aaa;
  padding: 1px 0;
  height: 1.2em;
  overflow: hidden;
}

tr.topic a {
  text-decoration: none;
}

ul.messages {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: none;
  overflow-y: auto;
  background: #fff;
}

ul.messages li {
  background: url(image/background.png) top left repeat-y #fff;
  font-size: 13px;
  clear: both;
  display: block;
  overflow: hidden;
  position: relative;
}

ul.messages li:last-child {
  margin-bottom: 3px;
}

ul.messages li:first-child {
  margin-top: 4px;
}

ul.messages li.self {
  background: url(image/background-self.png) top left repeat-y #fffbd0;
}

ul.messages li.self div.msg {
  background: none;
}

ul.messages li hr {
  position: absolute;
  bottom: 0px;
  left: 132px;
  right: 0px;
  border: none;
  height: 0px;
  border-top: 1px solid #efefef;
  margin: 0;
  padding: 0;
}

ul.messages li hr.consecutive {
  position: relative;
  bottom: auto;
  left: -5px;
  right: auto;
  margin: 5px 0;
}

div.left {
  float: left;
  width: 120px;
  font-weight: bold;
  text-align: right;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

div.left img {
  border: 1px solid #fff;
  display: block;
  float: right;
  margin-right: -2px;
  margin-top: -1px;
  width: 32px;
  height: 32px;
}

ul.messages li:hover div.left span.nickhint {
  opacity: 1;
}

div.left span.nickhint {
  position: absolute;
  right: 3px;
  top: 5px;
  padding-right: 2px;
  min-width: 32px;
  background: rgba(255, 255, 255, 0.65);
  color: #000;
  text-shadow: rgba( 255, 255, 255, 1 ) 0 -1px 1px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
}

div.msg {
  min-height: 1.2em;
  margin-left: 132px;
  padding: 5px;
  background: #fff;
  word-wrap: break-word;
  -khtml-line-break: after-white-space;
  -khtml-nbsp-mode: space;
}

div.msg a {
  word-break: break-all;
}

div.msg img {
  display: block;
  border: none;
}

div.msg.monospace, div.msg.announce {
  font-family: Monaco, monospace;
  font-size: 10px;
  line-height: 12px;
  white-space: pre-wrap;
  word-wrap: normal;
  padding: 8px 5px;
}

div.msg.monospace span[style*="bold"],
div.msg.announce span[style*="bold"] {
  letter-spacing: -1px;
}

ul.messages li.event {
  font-size: 11px;
  background: #d9e7fb;
  border-bottom: 1px solid #fff;
}

ul.messages li.event div.msg {
  background: none;
  border-left: none;
}

ul.messages li.event div.left {
  font-weight: normal;
}

div.msg.announce {
  color: #777;
}

div.msg img.audio {
  cursor: pointer;
  display: inline;
  padding: 0 4px;
  width: 16px;
  height: 16px;
  margin-bottom: -3px;
}

a.nick {
  color: #000;
  text-decoration: none;
}

div.tab_button {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 6px;
}

li.channel_tab div.tab_button {
  background: url(image/roomTab.png);
}

li.privmsg_tab div.tab_button {
  background: url(image/privateChatTab.png);
}

li.info_tab div.tab_button {
  background: url(image/smartTranscriptTab.png);
}

li.info_tab div.tab_button {
  background: url(image/smartTranscriptTab.png);
}

ul#tabs li div.tab_button:hover,
ul#tabs li.unread.info_tab div.tab_button:hover,
ul#tabs li.unread.channel_tab div.tab_button:hover,
ul#tabs li.unread div.tab_button:hover,
ul#tabs li.highlight.info_tab div.tab_button:hover,
ul#tabs li.highlight.channel_tab div.tab_button:hover,
ul#tabs li.highlight div.tab_button:hover
{
  background: url(image/aquaTabClose.png) no-repeat center;
}


ul#tabs li.unread.channel_tab div.tab_button {
  background: url(image/roomTabNewMessage.png);
}

ul#tabs li.unread.privmsg_tab div.tab_button {
  background: url(image/privateChatTabNewMessage.png);
}

ul#tabs li.unread.info_tab div.tab_button {
  background: url(image/smartTranscriptTabActivity.png);
}

ul#tabs li.highlight.channel_tab div.tab_button {
  background: url(image/roomTabNewHighlightMessage.png);
}

div.autocomplete ul {
  height: 1.6em;
  position: absolute;
  bottom: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #ccc;
  background: #fff;
  font-size: 0.8em;
}

div.autocomplete ul li.selected { background-color: #ffb; text-decoration: underline;}

div.autocomplete ul li {
  float: left;
  height: 1.2em;
  margin: 0;
  padding: 0.2em 5px;
  border-right: 1px solid #ccc;
}
