body {
  background: #000;
  color: #fff;
  font-family: Monaco, monospace;
}

a {
  color: #fff;
  text-decoration: underline;
}

div.topic, ul#tabs {
  background: blue;
}

div.topic a, ul#tabs a {
  color: #fff;
}

div.topic {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 0.1em 10px 0.2em 10px;
  line-height: 1.2em;
  overflow: hidden;
  height: 1.2em;
}

div#channels {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

div.channel {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 3em;
  overflow-y: auto;
  overflow-x: none;
}

ul#controls {
  display: none;
}

ul#tabs {
  list-style: none;
  position: absolute;
  bottom: 1.7em;
  left: 0px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

ul#tabs li {
  float: left;
  margin: 0;
  padding: 0.2em 0 0.2em 10px;
  line-height: 1em;
  color: #ccc;
}

ul#tabs li.active {
  color: #fff;
}

div.input {
  position: fixed;
  bottom: 1px;
  left: 0px;
  right: 0px;
  height: 1.4em;
  padding: 0 5px;
  background: #000;
}

div.input input {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  outline: 0 none;
  font-size: 0.8em;
  color: #fff;
  background: #000;
}

ul.messages {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.messages li {
  clear: both;
}
ul.messages li div {
  float: left;
}

ul.messages li div.left {
  padding-right: 0.5em;
}

a.nick {
  text-decoration: none;
}
ul.messages li div.left a.nick:before {
  content: "< ";
  color: #666;
}
ul.messages li div.left a.nick:after {
  content: ">";
  color: #666;
}