? my ($app, @windows) = @_;
        <script type="text/javascript">
          document.observe("dom:loaded", function () {
            var orig_hash = window.location.hash;
            <? for my $window (@windows) { ?>
              alice.openWindow(
                '<?= $window->id ?>',
                '<?= $window->title ?>',
                <?= $window->{active} ? "true" : "false" ?>,
                '<?= $window->hashtag ?>',
                '<?= $window->type ?>'
              );
            <? } ?>

            <? my $tabsets = {map {$_->name => $_->windows } $app->tabsets}; ?>
            alice.tabsets = <?= Text::MicroTemplate::encoded_string(JSON::encode_json $tabsets) ?>;

            alice.focusHash(orig_hash) || alice.activeWindow().focus();
            alice.ready();
            // required due to browser weirdness with scrolltobottom on initial focus
            setTimeout(function(){alice.activeWindow().scrollToBottom(true)}, 1);

            <? if (!$app->connected_ircs) { ?>
            alice.toggleConfig();
            <? } ?>
          });
        </script>
      </div>
      <ul id="controls">
        <li id="connection_status" class="ok"></li>
        <li class="dropdown" id="config_menu">
          <ul>
            <? if ($app->auth_enabled) { ?>
            <li><a href="/logout">Logout</a></li>
            <? } ?>
            <li><a href="javascript:alice.toggleHelp()">Help</a></li>
            <li><a href="javascript:alice.togglePrefs()">Preferences</a></li>
            <li><a href="javascript:alice.toggleConfig()">Connections</a></li>
          </ul>
        </li>
        <li class="dropdown" id="tab_menu">
          <ul>
            <li class="submenu separate-bottom"><a href="javascript:alice.toggleTabsets()">Sets</a>
              <?= $_mt->render_file('tabset_menu.html', $_[0]); ?>
            </li>
            <? for my $window (@windows) { ?>
              <?= $_mt->render_file('select.html', $_[0], $window); ?>
            <? } ?>
          </ul>
        </li>
      </ul>
      <ul id="tabs">
        <? for my $window (@windows) { ?>
          <?= $_mt->render_file('tab.html', $_[0], $window) ?>
        <? } ?>
      </ul>
      <div id="input">
        <form autocomplete="off">
          <input type="hidden" value="" name="source" id="source" />
          <div class="textarea_wrap"><textarea name="msg" id="msg" rows="1" autocapitalize="off"></textarea></div>
          <input type="submit" id="submit" class="send" value="Send">
        </form>
      </div>
    </div>
    <?= $_mt->render_file('help.html', $_[0]) ?>
  </body>
</html>
