<!DOCTYPE html>
<html>
  <head>
    <title>[% windows.0.window.title %]</title>
    <script type="text/javascript" src="/static/site.js"></script>
    <script type="text/javascript" src="/static/styles/[% style %]/default.js?images=[% images %]"></script>
    <link type="text/css" rel="stylesheet" href="/static/site.css" />
    <link type="text/css" rel="stylesheet" href="/static/config.css" />
    <link type="text/css" rel="stylesheet" href="/static/styles/[% style %]/default.css" />
    <!--[if !IE]>--> 
    <link rel="stylesheet" href="/static/styles/[% style %]/iphone.css" type="text/css" 
          media="only screen and (max-device-width: 480px)" /> 
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  </head>
  <body>
    <div id="container">
      <ul id="controls">
        <li id="config_button"><img src="/static/styles/[% style %]/image/config.png" /></li>
        <li id="status" class="disabled"></li>
      </ul>
      <ul id="tabs">
        [% FOR windows %]
        [% INCLUDE "tab.tt" %]
        [% END %]
      </ul>
      <div id="windows">
      [% FOR windows %]
      [% INCLUDE "window.tt" %]
      [% END %]
      </div>
    </div>
  </body>
</html>
