? my ($app, $options, @windows) = @_;
? my $titlewin = @windows > 1 ? $windows[1] : $windows[0];
<!DOCTYPE html>
<html>
  <head>
    <title><?= $titlewin->title ?></title>
    <script type="text/javascript" src="<?= $app->static_url("alice.js") ?>?<?= $options ?>"></script>
    <link rel="shortcut icon" href="<?= $app->static_url("favicon.ico") ?>">
    <link type="text/css" rel="stylesheet" href="<?= $app->static_url("alice-".$app->config->style.".css") ?>" />
    <link rel="apple-touch-icon" href="<?= $app->static_url("image/alice.png") ?>" />
    <link rel="apple-touch-startup-image" href="<?= $app->static_url("image/alice.png") ?>" />
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <img style="position:absolute;top:-100px;left:-100px" src="<?= $app->static_url("image/sprites.png") ?>" />
    <div id="container">
      <ul id="controls">
        <li id="connection_status" class="ok"></li>
        <li class="dropdown" id="config_menu">
          <ul>
            <? if ($app->auth_enabled) { ?>
            <li><a href="/logout">Logout</a></li>
            <? } ?>
            <li><a href="javascript:alice.toggleHelp()">Help</a></li>
            <li><a href="javascript:alice.togglePrefs()">Preferences</a></li>
            <li><a href="javascript:alice.toggleConfig()">Connections</a></li>
          </ul>
        </li>
        <li class="dropdown" id="tab_menu">
          <ul>
            <? for my $window (@windows) { ?>
              <?= $_mt->render_file('select.html', $_[0], $window); ?>
            <? } ?>
          </ul>
        </li>
      </ul>
      <div id="tab_container">
        <div id="input">
          <form autocomplete="off">
            <div class="textarea_wrap"><textarea name="msg" id="msg" rows="1" autocapitalize="off"></textarea></div>
            <input type="submit" class="send" value="Send">
          </form>
        </div>
        <ul id="tabs">
          <? for my $window (@windows) { ?>
            <?= $_mt->render_file('tab.html', $_[0], $window) ?>
          <? } ?>
        </ul>
      </div>
      <div id="windows">
