<li class="message [% nick | html %][% IF self %] self[% END %]" id="[% msgid %]">
  <div class="left"><a href="javascript:alice.connection.requestWindow('[% nick %]','[% window.id %]')" class="nick">[% IF avatar %]<img src="[% avatar %]" alt="[% nick | html %]" title="[% nick | html %]">[% ELSE %][% nick | html %][% END %]</a></div>
  <div class="msg[% IF nick == "Shaniqua" || nick == "root" || nick == "p6eval" %] monospace[% END %]">[% html %]</div>
  <hr />
</li>
