? my ($app, $msg) = @_;
? my $classes = join " ", (
?   grep {$msg->{$_}} qw/highlight self consecutive monospaced avatar/,
? );

<li class="message <?= $classes ?>" id="msg-<?= $msg->{msgid} ?>">
    <? if (!$msg->{consecutive} and $msg->{timestamp}) { ?>
    <div class="timehint"><span class="timestamp"><?= $msg->{timestamp} ?></span></div>
    <? } ?>
    <div class="left">
      <a href="javascript:alice.connection.requestWindow('<?= $msg->{nick} ?>','<?= $msg->{window}{id} ?>')" class="nick"<?= $msg->{source} ? " title=$msg->{source}" : "" ?>>
        <span class="nick"><span class="nickborder">&lt;</span><?= $msg->{nick} ?><span class="nickborder">&gt;</span></span>

      </a>
    </div>
    <div class="msg"><?= $msg->{html} ?></div>
</li>

<? if ($msg->{avatar}) { ?>
<script type="text/javascript">
  if (alice.options.avatars == "show") {
    if (document.loaded) {
      $('msg-<?= $msg->{msgid} ?>').down("a.nick").insert('<img src="<?= $msg->{avatar} ?>" alt="<?= $msg->{nick} ?>" />');
    } else {
      document.observe("dom:loaded", function() {
        $('msg-<?= $msg->{msgid} ?>').down("a.nick").insert('<img src="<?= $msg->{avatar} ?>" alt="<?= $msg->{nick} ?>" />');
      });
    }
  }
  else {
    $('msg-<?= $msg->{msgid} ?>').removeClassName('avatar');
  }
</script>
<?}?>
