? my ($app, $window, @classes) = @_;
? use Text::MicroTemplate qw/encoded_string/;
<div class="window <?= join " ", @classes ?>" id="<?= $window->id ?>">
  <table cellspacing="0" cellpadding="0">
    <tr class="topic">
      <td>
        <div class="topic" id="<?= $window->id ?>_topic"><?= $window->topic->{string} ?></div>
      </td>
    </tr>
    <tr>
      <td valign="top">
        <ul class="messages" id="<?= $window->id ?>_messages">
          <? for (@{$window->msgbuffer}) { ?>
            <?= encoded_string $_->{html} ?>
          <? } ?>
        </ul>
      </td>
    </tr>
    <tr class="vert_dragger">
      <td id="<?= $window->id ?>_dragger"></td>
    </tr>
    <tr class="input">
      <td id="<?= $window->id ?>_input">
        <form id="<?= $window->id ?>_form" autocomplete="off">
          <input type="hidden" name="source" value="<?= $window->id ?>" />
          <input type="submit" class="send" id="<?= $window->id ?>_submit" value="Send">
          <textarea name="msg" id="<?= $window->id ?>_msg" rows="1"></textarea>
        </form>
      </td>
    </tr>
  </table>
</div>
