? my ($app, $window, @classes) = @_;
? use Text::MicroTemplate qw/encoded_string/;
<div class="window <?= join " ", @classes ?>" id="<?= $window->id ?>">
  <table cellspacing="0" cellpadding="0">
    <tr class="topic">
      <td id="<?= $window->id ?>_topic">
        <?= $window->topic->{string} ?>
      </td>
    </tr>
    <tr>
      <td valign="top">
        <ul class="messages" id="<?= $window->id ?>_messages">
? my $previous_nick = "";
? for my $message (@{$window->msgbuffer}) {
?   if ($message->{nick} ne $previous_nick) {
?     my $html = $message->{outter_html};
?     if ($previous_nick) {
        </div></hr></li>
?     }
?     $html =~ s/<div class="msg">.*$//s;
      <?= encoded_string $html ?><div class="msg"><?= encoded_string $message->{inner_html} ?>
?   } else {
      <?= encoded_string $message->{inner_html} ?>
?     if ($message->{monospace}) {
        <br />
?     } else {
        <hr class="consecutive" />
?     }
?   }
? $previous_nick = $message->{nick};
? }
        </ul>
      </td>
    </tr>
    <tr class="vert_dragger">
      <td id="<?= $window->id ?>_dragger"></td>
    </tr>
    <tr class="input">
      <td id="<?= $window->id ?>_input">
        <form id="<?= $window->id ?>_form" autocomplete="off">
          <input type="hidden" name="source" value="<?= $window->id ?>" />
          <input type="submit" class="send" id="<?= $window->id ?>_submit" value="Send">
          <textarea name="msg" id="<?= $window->id ?>_msg" rows="1"></textarea>
        </form>
      </td>
    </tr>
  </table>
</div>
