<li class="event">
  <div class="left">[% timestamp %]</div>
  <div class="msg">
  [% IF event == "topic" %]
    Topic changed to "[% message %]" by [% nick %].
  [% ELSIF event == "joined" || event == "left" %]
    [% nick %] [% event %] the chat room.[% IF message %] ([% message %])[% END %]
  [% ELSIF event == "nick" %]
    [% nick %] is now known as [% message %].
  [% END %]
  </div>
</li>
