<!doctype html>
<html>
  <head>
    <title>[% channels.0.name_orig %]</title>
    <script type="text/javascript" src="/static?f=prototype.js"></script>
    <script type="text/javascript" src="/static?f=site.js"></script>
    <link type="text/css" rel="stylesheet" href="/static?f=main.css" />
  </head>
  <body>
    <div id="container">
      <ul id="tabs">
        [% FOR channel IN channels %]
        [% INCLUDE "tab.tt" %]
        [% END %]
      </ul>
      <div id="channels">
      [% FOR channel IN channels %]
      [% INCLUDE "channel.tt" %]
      [% END %]
      </div>
    </div>
  </body>
</html>
