<!doctype html>
<html>
  <head>
    <title>[% channels.0.chan %]</title>
    <script type="text/javascript" src="/static/site.js"></script>
    <script type="text/javascript" src="/static/styles/[% style %]/default.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/site.css" />
    <link type="text/css" rel="stylesheet" href="/static/config.css" />
    <link type="text/css" rel="stylesheet" href="/static/styles/[% style %]/default.css" />
  </head>
  <body>
    <div id="container">
      <ul id="controls">
        <li id="config_button"><img src="/static/styles/[% style %]/image/config.png" /></li>
        <li id="status" class="disabled"></li>
      </ul>
      <ul id="tabs">
        [% FOR channels %]
        [% INCLUDE "tab.tt" %]
        [% END %]
      </ul>
      <script type="text/javascript">
        Sortable.create('tabs', {format:/^.+_\d+_tab$/});
      </script>
      <div id="channels">
      [% FOR channels %]
      [% INCLUDE "channel.tt" %]
      [% END %]
      </div>
    </div>
  </body>
</html>
